h1{
    padding-top: 100px;
   text-align: center;
}
#bills {
    margin-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
  }

#bills td, #bills th {
    border: 1px solid #ddd;
    padding: 8px;
  }
#bills th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #737773;
    color: white;
}

#bills tr:hover {background-color: #ddd;}
#bills tr:nth-child(even){background-color: #f2f2f2;}

.header {
  padding: 20px;
  text-align: center;
  color: #000;
  font-size: 50px;
}
input[type=submit]:hover {
  background-color: #6f746f;
}
input[type=button]:hover {
  background-color: #828582;
}
input[type=submit] {
  
  width: auto;
}
input[type=button] {
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  margin-left: 520px;
  border-radius: 6px;
}