 <div>
    <h2 class=header>OrderTable Order By Date Decending </h2><div>
  <!--    <table border=1>     -->
    <table id="bills">
            <tr>
                <td>Order ID</td>
                <td>ITEMS</td>
                <td>AMOUNT</td>
                <td>BILL ID</td>
                <td>CUSTOMER ID</td>
                <td>ORDER DATE</td>
            </tr>
            <tr *ngFor="let Order of ordersqw">
                <td>{{Order.order_id}}</td>
                <td>{{Order.items}}</td>
                <td>{{Order.amount}}</td>
                <td>{{Order.bill_id}}</td>
                <td>{{Order.cust_id}}</td>
                <td>{{Order.order_date}}</td>
            </tr>
          

    </table>
</div>
<br>
<input type="button" value="Back" (click)="onpress()">
</div> 
