<!-- <div>
    <h2 class=header>View OrderTable By Year and Month </h2>
    <label>Year</label>
    <input type="number" [(ngModel)]="oid1" ><br/>
    <label>Month</label>
    <input type="number" [(ngModel)]="oid2" ><br/>
    

    <input type="button" value="submit" (click)="orderbyyearmonth"><br/><br/><br/>

    <input type="button" value="submit" (click)="orderbyyearmonth"/><br/><br/><br/>

    
    <div>
    <table id="bills">
            <tr>
                <td>Order ID</td>
                <td>ITEMS</td>
                <td>AMOUNT</td>
                <td>BILL ID</td>
                <td>CUSTOMER ID</td>
                <td>ORDER DATE</td>
            </tr>

            <tr *ngFor="let Order of orders">
                <td>{{Order.order_id}}</td>
                <td>{{Order.items}}</td>
                <td>{{Order.amount}}</td>
                <td>{{Order.bill_id}}</td>
                <td>{{Order.cust_id}}</td>
                <td>{{Order.order_date}}</td>

            
            <tr *ngFor="let ord of orders">
                <td>{{ord.order_id}}</td>
                <td>{{ord.items}}</td>
                <td>{{ord.amount}}</td>
                <td>{{ord.bill_id}}</td>
                <td>{{ord.cust_id}}</td>
                <td>{{ord.order_date}}</td>

            </tr>

    </table>
</div>
 <br>
    <input type="button" value="Back" (click)="onpress()">
</div> -->

<!--

<div>
    <h2>Delete Product By PId</h2>
    <input type="text" #pIdRef/>
    <input type="button" value="Delete Product" (click)="deleteProduct(pIdRef.value)"/>
    <br/>
    {{msg}}
</div>

-->