<div>
    <h2>Login Customer Page</h2>
    <form #userRef="ngForm" (ngSubmit)="addCustomerComponent(userRef.value)">
        <label>Name</label>
        <input type="text" name="cust_name" ngModel /><br>
        <label>Addres</label>
        <input type="text" name="cust_addr" ngModel /><br>
        <label>Phone Number</label>
        <input type="number" name="cust_phone" ngModel /><br>
        <label>User Name</label>
        <input type="text" name="cust_login" ngModel /><br>
        <label>Passsword</label>
        <input type="password" name="pass" ngModel /><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
    {{msg}}
</div>