<app-admin-dashboard></app-admin-dashboard>
<h2 class=header>Store Supplier Stock Details</h2>
  <div class=container>
    <form [formGroup]="supplierInfo" (ngSubmit)="storeSupplierDetails()">
        <label>Item Name</label><br>
        <input type="text" formControlName="item_name"/><br/>
        <label>Quantity</label><br>
        <input type="number" formControlName="quantity"/><br/>
        <label>Type</label><br>
        <input type="text" formControlName="type"/><br/>
        <label>Delivery Date</label><br>
        <input type="date" formControlName="delivery_date"/><br/>
    
        <div class="text-center py-4">
          <button type="submit" value="Store Supplier" class="btn btn-danger mr-2">Send</button>
          <button  class="btn btn-secondary" value="Back" (click)="onpress()">Back</button>
      </div>

    </form>
    <h3 id="msg">{{msg}}</h3>
</div>