.title
{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.title:hover
{
  color: #fff !important;
}
  
  /* Dropdown Button */
  .dropbtn {
      border: none;
      background: transparent;
      color: #fff;
    }

    .dropdown img{
      padding-right: 5px;;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
    }

    .dropdown-content a {
      background-color: rgb(218, 15, 15);
      color:#fff !important;
      padding: 8px 16px 10px;
      text-decoration: none;
      display: block;
      font-size: 12px;
      margin-top: 18px;
      border-radius: 10px;

    }

    nav a:hover
    {
      text-decoration:none;
    }
    
    .title
    {
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    .title:hover
    {
      color: #fff;
    }
  
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    footer 
    {
      background-color: rgb(27 26 26 / 34%);
      position: relative;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 50px;
      margin-bottom: 0px;
    }

    footer a, footer div{
      color: #fff !important;
    }
    
 
  