<!-- <div class="dashboard" style="background-image: url(../assets/dashboard-banner.jpg);"></div>
<div class="container">
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand title">Arogya Pharmacy</a>
    <form class="d-flex dash-tab">
      <button class="btn btn-outline-warning" (click)="loginRedirect()">Login</button>
      <button class="btn btn-outline-warning" (click)="RegisterRedirect()">Register</button>
    </form>
  </div>
</nav>
</div>

 -->




    <nav class="navbar navbar-dark bg-dark" style="background:rgb(13 8 8 / 52%) !important;">
  <div class="container-fluid">
    <a class="navbar-brand title">Arogya Pharmacy</a>
    <form class="d-flex dash-tab">
      <button class="btn btn-outline-light" (click)="loginRedirect()">Login</button>
      <button class="btn btn-outline-light" (click)="RegisterRedirect()">Register</button>
    </form>
  </div>
</nav>
    <header class="text-center text-black py-5">
      <h1 class="display-5 font-weight-bold mb-4">Welcome to Arogya Pharmacy</h1>
      <p class="lead mb-0">Buy Medicines at Arogya Pharmacy. 100% Authentic Medicines. Wide Range of Medicines.</p>
     
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top img-responsive" src="https://static.toiimg.com/photo/msid-76530497/76530497.jpg?112061" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">The second phase of the COVID-19 vaccination drive has already begun in India, and many people are still unaware of how the two vaccines – Covaxin and Covishield – are different from each other.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top img-responsive" src="../assets/blog-2.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Arogya Pharmacy is here to help you take it easy! We are amongst one of the top online pharmacy and medical care platforms. It enables you to make your purchase easy, simple, and affordable!</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top img-responsive" src="../assets/blog-3.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Lucrative offers on our platform allow you to make payment online at a discounted price. Alternatively, you can also choose to pay cash on delivery as we deliver the products at your doorstep. </p>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <footer class="text-center text-lg-start">
     <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright
    <a class="text-dark" href="#">Arogya Pharmacy</a>
  </div>
  <!-- Copyright -->
  </footer>




