<div>
    <h2>Find Bill By Id</h2>
    <label for="">cust ID</label>
    <input type="number" #cidRef/>
    <input type="button" value="find Product" (click)="callService(cidRef.value)"/>
    {{msg}}
    <div >
        Id is {{billRef.bill_id}}, Name is {{billRef.item_name}}
    </div> 
    <br>
    <input type="button" value="back" (click)="onpress()">
</div>


<!-- <div>
    <h2>Find Product By PId</h2>
    <input type="number" #pIdRef/>
    <input type="button" value="find Product" (click)="findProduct(pIdRef.value)"/>
    <br/>

    <div>
        <div *ngIf="flag">
            <table id="bills">
                <tr>
                    <th>Bill ID</th>
                    <th>Item Name</th>
                    <th>Amount</th>
                    <th>Quantity</th>
                    <th>Customer ID</th>
                </tr>
    
                <tr *ngFor="let bill of billInfo">
                    <td>{{bill.bill_id}}</td>
                    <td>{{bill.item_name}}</td>
                    <td>{{bill.amount}}</td>
                    <td>{{bill.quantity}}</td>
                    <td>{{bill.cust_id}}</td>
    
                </tr>
            </table>
    </div>
</div> --> -->
